@page "/"

@* Tutorial on Blazor.Extensions.Canvas 
https://swharden.com/blog/2021-01-07-blazor-canvas-animated-graphics/ *@

<PageTitle>Enigma Machine</PageTitle>

<h3>Enigma Machine</h3>

<div class="column-layout">

<div class="component red">
    <div>Reflector</div>
    <div></div>
    <div>B</div>
    <div class="internals-rows">
        @foreach (var letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        {
            <div class="internals-columns">
                <div>@letter</div>
                <div></div>
                <div>@letter</div>
            </div>
        }
    </div>
    <div></div>
</div>

<div class="component blue">
    <div>Rotor</div>
    <div>0</div>
    <div>III</div>
    <div class="internals-rows">
        @foreach (var letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        {
            <div class="internals-columns">
                <div>@letter</div>
                <div></div>
                <div>@letter</div>
            </div>
        }
    </div>
    <div>A</div>
</div>

<div class="component blue">
    <div>Rotor</div>
    <div>0</div>
    <div>II</div>
    <div class="internals-rows">
        @foreach (var letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        {
            <div class="internals-columns">
                <div>@letter</div>
                <div></div>
                <div>@letter</div>
            </div>
        }
    </div>
    <div>A</div>
</div>

<div class="component blue">
    <div>Rotor</div>
    <div>0</div>
    <div>I</div>
    <div class="internals-rows">
        @foreach (var letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        {
            <div class="internals-columns">
                <div>@letter</div>
                <div></div>
                <div>@letter</div>
            </div>
        }
    </div>
    <div>A</div>
</div>

<div class="component green">
    <div>Plug Board</div>
    <div></div>
    <div></div>
    <div class="internals-rows">
        @foreach (var letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
        {
            <div class="internals-columns">
                <div>@letter</div>
                <div></div>
                <div>@letter</div>
            </div>
        }
    </div>
    <div></div>
</div>
    
</div>

@code {
    
}